<html ng-app="OtelloApp">
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">

	<body ng-controller="OtelloTableController">
		<div>
			<input type="text" ng-model="column_input" ng-change ="change(column_input)" />
		</div>
		<table>
			<tr ng-repeat="value in column">
				<td ng-click="click($index,$parent.$index)" ng-repeat="val in value track by $index" ng-class="val == 0 ? 'hitam' : val == 1 ? 'white' : 'lightblue';">
					{{ $index+" "+$parent.$index}}
				</td>
			</tr>
		</table>
	</body>
	<script type="text/javascript" src="js/vendor/angular.js"></script>
	<script type="text/javascript" src="js/apps/app.js"></script>

	<script type="text/javascript" src="js/apps/controller/OtelloTableController.js"></script>
</html>